/* ADMIN SIGN IN */

body {
  
  background-image: url('/images/back.png');
}
.container {
  text-align: center;
  background-image: url('/images/5-dots.png');
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.card {
  text-align: center;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: transparent !important; /* Remove background color */
  border-bottom: none !important; /* Remove border */
}

.login-header {
  color: #f2f2f2;
}

.btn {
  background-color: #646464 !important;
  width: 100% !important; /* Set button width to 100% */
  margin: 0 auto !important;
}

#forgotPassword,
#alreadyHaveAccount {
  display: flex;
  margin-bottom: 15px;
  font-size: 14px;
  color: #007bff; /* Blue color for links */
  text-decoration: none;
  transition: color 0.3s ease;
}

#forgotPassword:hover,
#alreadyHaveAccount:hover {
  color: #0056b3; /* Darker blue color on hover */
  text-decoration: underline;
}
.custom-back-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: #646464 ;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-back-button:hover {
  background-color: #646464 ; /* Slightly darker background on hover */
}

/* Style for the back icon */
.custom-back-icon {
  font-size: 24px; /* Size of the icon */
  color: #333; /* Icon color */
  transition: transform 0.3s ease, color 0.3s ease;
}

.custom-back-button:hover .custom-back-icon {
  transform: scale(1.1); /* Scale up the icon slightly on hover */
  color: #000; /* Change the icon color on hover */
}